[submodule "zsh/dotoh-my-zsh"]
	path = zsh/dotoh-my-zsh
	url = https://github.com/yulrizka/oh-my-zsh.git
[submodule "vim/dotvim/bundle/Vundle.vim"]
	path = vim/dotvim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
