[submodule "vim/dotvim/bundle/nerdtree"]
	path = vim/dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/dotvim/snippets"]
	path = vim/dotvim/snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
[submodule "vim/dotvim/bundle/vim-surround"]
	path = vim/dotvim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/dotvim/bundle/vim-rails"]
	path = vim/dotvim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/dotvim/bundle/vim-endwise"]
	path = vim/dotvim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "zsh/dotoh-my-zsh"]
	path = zsh/dotoh-my-zsh
	url = https://github.com/yulrizka/oh-my-zsh.git
[submodule "/home/ahmy/.vim/bundle/tslime.vim"]
	path = /home/ahmy/.vim/bundle/tslime.vim
	url = https://github.com/vim-scripts/tslime.vim.git
