locals.zsh
log/.zsh_history
projects.zsh
custom
!custom/plugins/example
!custom/example.zsh
*.swp
!custom/example.zshcache
cache/
vim/**/.netrwhist
vim/dotvim/bundle/.vundle/
vim/dotvim/undodir
vim/dotvim/bundle/*
!vim/dotvim/bundle/Vundle.vim
!vim/dotvim/bundle/web-indent

emacs/ac-comphist.dat
emacs/ido.last
emacs/smex-items
emacs/elpa/archives/melpa/archive-contents
emacs/savehist
emacs/projectile-bookmarks.eld
emacs/recentf